<app-layout>

  <div role="nav" class="nav-wrapper grey lighten-4">
    <div class="title">Routes</div>
    <div class="right-align"><a routerLink="../"><i class="material-icons">close</i></a></div>
  </div>

  <ng-container *ngIf="fetching$ | async; else trips">
    <div style="overflow: hidden; text-align: center">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </ng-container>

  <ng-template #trips>
    <ng-container *ngIf="(routes$ | async) as routes">
      <ng-container *ngIf="routes.trips?.length; else noRoutes">
        <div class="trip" *ngFor="let trip of routes.trips" (click)="showDetails(trip)">
          <p-card>
            <span>{{ formatPoint(trip.legs[0].points[0]) }}</span><br/>
            <div class="flex-row">
              <div class="transport-sequence flex-row">
                <div *ngFor="let leg of trip.legs">
                  <app-public-transport-chip [line]="leg.mode"></app-public-transport-chip>
                </div>
              </div>
              <div class="duration">{{ trip.duration }}</div>
            </div>
            <span>{{ formatPoint(trip.legs[trip.legs.length - 1].points[1]) }}</span>
          </p-card>
        </div>
      </ng-container>
      <ng-template #noRoutes>
        <div>
          <p-message severity="warning" text="Sorry, could not find any routes."></p-message>
        </div>
      </ng-template>
    </ng-container>
  </ng-template>

</app-layout>
