<p-dialog header="Route" [modal]="true" [(visible)]="display"
          [styleClass]="'card-dialog'"
          (onShow)="dialog.maximize()"
          [blockScroll]="true">
  <div *ngIf="routes == null" style="overflow: hidden; text-align: center">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="routes != null">
    <div class="trip" *ngFor="let trip of routes.trips" (click)="showDetails(trip.trip)">
      <p-card>
        <span>{{ formatPoint(trip.trip.legs[0].points[0]) }}</span><br/>
        <span class="duration">{{ trip.trip.duration }}</span>
        <div class="transport-sequence">
        <span class="transport-chip"
              [ngClass]="getStyleForTransportationType(leg.mode.type)"
              *ngFor="let leg of trip.trip.legs">{{ leg.mode.number }}</span>
        </div>
        <span>{{ formatPoint(trip.trip.legs[trip.trip.legs.length - 1].points[1]) }}</span>
      </p-card>
    </div>
    <div *ngIf="routes.trips.length == 0">
      <p-message severity="warn" text="Sorry, could not find any routes."></p-message>
    </div>
  </div>
</p-dialog>

<app-route-detail></app-route-detail>

<a class="btn-floating btn-large waves-effect waves-light red darken-2 right" style="margin-right: 12px"
   (click)="openDialog()" *ngIf="(origin$ | async) && (destination$ | async)">
  <i class="material-icons">directions_transit</i>
</a>
