<div id="map" [hidden]="!mapService.showMap">
  <app-tile-layer></app-tile-layer>
</div>
<button pButton type="button" id="startWatching" class="on-map"
        label="Start"
        (click)="startWatchingLocation()" *ngIf="!locationService.isWatchingLocation()"></button>
<button pButton type="button" id="stopWatching" class="on-map"
        label="Stop"
        (click)="locationService.stopWatchingLocation()" *ngIf="locationService.isWatchingLocation()"></button>
<app-share></app-share>

<div>
  <h2>Welcome to LocateMe</h2>
</div>
<div>
  <p>LocateMe allows you to share your location.</p>
</div>
<p-messages [closable]="false"></p-messages>
