.transport-chip
  $roundess: 3px
  $padding-left: 24px

  display: inline-flex

  border-radius: $roundess
  padding: $roundess

  margin: 0 3px
  height: 30px
  min-width: $padding-left

  color: white
  font-weight: 700

  background-repeat: no-repeat

  & > div
    padding: 1.5px 3px

.subway
  background-color: #2675b3

.train
  background-color: #831012

.tram
  background-color: #c0181b

.directions_bus
  background-color: #1e3158

.directions_walk
  color: black

.unknown
  background-color: #888
