/* You can add global styles to this file, and also import map style files */

html,
body,
main,
.leaflet-container
  height 100%

nav
  position fixed
  z-index 10000000

main
  padding-top 56px
  @media screen and (min-width: 601px)
    padding-top 64px

footer
  position fixed
  padding 12px
  width 100%
  bottom 0
  z-index 10000000

.duration
  float: right
  margin-left: 10px
  padding-top: 6px

#tileLayerSelector
  top: 15px
  right: 15px

.trip
  margin-bottom: 12px

.transport-chip
  padding 3px
  padding-left: 24px
  margin-right: 7px
  height: @padding-left + 2 * @padding
  border-radius: @padding
  color: white
  background-repeat: no-repeat;

.station-name
  white-space: nowrap

.subway
  background-color: #2675b3
  background-image: url('assets/css/img/ic_subway.svg')

.tram
  background-color: #c0181b
  background-image: url('assets/css/img/ic_tram.svg')

.bus
  background-color #1e3158
  background-image: url('assets/css/img/ic_bus.svg')

.walk
  background-image: url('assets/css/img/ic_walk.svg')

p-dialog .ui-dialog
  overflow-y: auto
  max-height: 100%

body .ui-dialog.card-dialog .ui-dialog-content
  background-color: #eee

.transport-sequence
  padding-top: 5px
  padding-bottom: @padding-top
  overflow-x: auto
  margin-right: 5px

app-route-detail table
  tr
    border-bottom none
  td
    padding 0
    hr
      color white

.ui-toast
  margin-top: 62px;
