/* You can add global styles to this file, and also import other style files */

@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";
@import '~leaflet/dist/leaflet.css';

#map
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.on-map
  position: absolute
  z-index: 1000

#startWatching,
#stopWatching
  bottom: 15px
  right: 15px

#share,
#route
  @extend #stopWatching
  right: 100px

.duration
  float: right

#tileLayerSelector
  top: 15px
  right: 15px

.trip
  margin-bottom: 12px

.transport-chip
  padding 3px
  padding-left: 24px
  margin-right: 7px
  height: @padding-left + 2 * @padding
  border-radius: @padding
  color: white
  background-repeat: no-repeat;

.station-name
  white-space: nowrap

.subway
  background-color: #2675b3
  background-image: url('/assets/css/img/ic_subway.svg')

.tram
  background-color: #c0181b
  background-image: url('/assets/css/img/ic_tram.svg')

.bus
  background-color #1e3158
  background-image: url('/assets/css/img/ic_bus.svg')

.walk
  background-color: #fff
  background-image: url('/assets/css/img/ic_walk.svg')

p-dialog .ui-dialog
  overflow-y: scroll
  max-height: 100%
