/* You can add global styles to this file, and also import map style files */

html,
body,
main,
.leaflet-container
  height: 100%

nav
  position: fixed
  z-index: 1000
  img
    height: 56px
    padding: 12px 6px
    float: left
    @media screen and (min-width: 601px)
      height: 64px
      padding: 16px 8px 16px 16px

main
  padding-top: 56px
  @media screen and (min-width: 601px)
    padding-top: 64px

footer
  position: fixed
  padding: 12px
  width: 100%
  bottom: 0
  z-index: 1000

.duration
  float: right
  margin-left: 10px
  padding-top: 6px

#tileLayerSelector
  top: 15px
  right: 15px

.trip
  margin-bottom: 12px

.station-name
  white-space: nowrap

.subway
  background-color: #2675b3
  background-image: url('assets/css/img/ic_subway.svg')

.tram
  background-color: #c0181b
  background-image: url('assets/css/img/ic_tram.svg')

.bus
  background-color: #1e3158
  background-image: url('assets/css/img/ic_bus.svg')

.walk
  background-image: url('assets/css/img/ic_walk.svg')

p-dialog .ui-dialog
  overflow-y: auto
  max-height: 100%

body .ui-dialog.card-dialog .ui-dialog-content
  background-color: #eee

.transport-sequence
  $padding-top: 5px
  padding-top: $padding-top
  padding-bottom: $padding-top
  overflow-x: auto
  margin-right: $padding-top

app-route-detail table
  tr
    border-bottom: none
  td
    padding: 0
    hr
      color: white

.ui-toast
  margin-top: 62px

.start-hint
  display: flex
  justify-content: right
  width: 100%
  font-size: 24px
  font-weight: 300
  & img
    position: absolute
    top: 44px
    width: 56px
    right: 72px
