<p-dialog header="Route details" [modal]="true" [(visible)]="display"
          (onShow)="dialog.maximize()"
          [blockScroll]="true">
  <table>
    <tbody>
    <ng-container *ngFor="let leg of tripDetail?.legs">
      <tr>
        <td>{{ leg.points[0].dateTime.time }}</td>
        <td style="text-align: center">&#9675;</td>
        <td class="station-name">{{ leg.points[0].name }}</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center">&#124;</td>
        <td>
          <span class="transport-chip" [ngClass]="getStyleForTransportationType(leg.mode.type)">{{ leg.mode.number }}</span>
          <small>{{ leg.mode.destination }}</small>
        </td>
      </tr>
      <tr>
        <td>{{ leg.points[1].dateTime.time }}</td>
        <td style="text-align: center">&#9675;</td>
        <td class="station-name">{{ leg.points[1].name }}</td>
      </tr>
      <tr>
        <td colspan="3"><hr>
      </tr>
    </ng-container>
    </tbody>
  </table>
</p-dialog>
