<app-layout>

  <div role="nav" class="nav-wrapper grey lighten-4">
    <div class="title">Route details</div>
    <div class="right-align"><a routerLink="../"><i class="material-icons">close</i></a></div>
  </div>

  <table>
    <tbody>
    <ng-container *ngFor="let leg of (tripDetail$ | async)?.legs">
      <tr>
        <td>{{ leg.points[0].dateTime.time }}</td>
        <td style="text-align: center">&#9675;</td>
        <td class="station-name">{{ leg.points[0].name }}</td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: center">&#124;</td>
        <td>
          <app-public-transport-chip [line]="leg.mode"></app-public-transport-chip>
          <small>{{ leg.mode.destination }}</small>
        </td>
      </tr>
      <tr>
        <td>{{ leg.points[1].dateTime.time }}</td>
        <td style="text-align: center">&#9675;</td>
        <td class="station-name">{{ leg.points[1].name }}</td>
      </tr>
      <tr>
        <td colspan="3"><hr>
      </tr>
    </ng-container>
    </tbody>
  </table>

</app-layout>
