<app-layout>

  <div role="nav" class="nav-wrapper">
    <div class="brand-logo flex-row justify-center">
      <img src="css/img/logo.svg" alt="LocateMe Logo">
      <h1>LocateMe</h1>
    </div>
  </div>

  <div
    leaflet
    [leafletLayersControl]="layersControl"
    (leafletMapReady)="onMapReady($event)"
  ></div>

  <div role="footer">
    <app-geolocation-control></app-geolocation-control>
    <app-share></app-share>

    @if ((positionMe$ | async) && (positionOther$ | async)) {
      <a
        class="btn-floating btn-large waves-effect waves-light red darken-2 right"
        style="margin-right: 12px"
        routerLink="/trips"
        >
        <i class="material-icons">directions_transit</i>
      </a>
    }
  </div>
</app-layout>
