<app-layout>

  <div role="nav" class="nav-wrapper light-green">
    <div class="brand-logo">
      <img src="assets/css/img/logo.svg" alt="LocateMe Logo">
      <span>LocateMe</span>
    </div>
  </div>

  <div
    leaflet
    (resized)="rerenderMap($event)"
    [leafletLayersControl]="layersControl"
    (leafletMapReady)="onMapReady($event)"
  ></div>

  <div role="footer">
    <app-geolocation-control></app-geolocation-control>
    <app-share></app-share>

    <a
      class="btn-floating btn-large waves-effect waves-light red darken-2 right"
      style="margin-right: 12px"
      *ngIf="(positionMe$ | async) && (positionOther$ | async)"
      routerLink="/trips"
    >
      <i class="material-icons">directions_transit</i>
    </a>
  </div>
</app-layout>
