name: Build and Deploy
on:
  create:
    tags:
      - v*

jobs:
  build-and-deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install and Build
        run: |
          cd locateMe
          npm install
          npm run build:gh-pages

      - name: Rename output folder
        run: |
          cd locateMe/dist
          mv locateMe/browser .
          rm -rf locateMe
          mv browser locateMe

      - name: Put .nojekyll file
        run: touch locateMe/dist/locateMe/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: locateMe/dist/locateMe

      - name: ZIP the package
        run: |
          cd locateMe/dist/
          zip -r locateMe locateMe

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Attach ZIP to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: locateMe/dist/locateMe.zip
          asset_name: locateMe.zip
          asset_content_type: application/zip

      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/node@v1
        with:
          args: --file=locateMe/package.json
          command: monitor
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}