name: NPM Update
on:
  push:
    branches:
    - "dependabot/npm_and_yarn/locateMe/angular-*"

jobs:
  npm-update:
    runs-on: ubuntu-latest
    permissions:
        contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24'
      - name: NPM Update
        run: |
          cd locateMe
          npm update
      - name: Commit and push
        uses: actions4git/add-commit-push@v1
        with:
          add-pathspec: locateMe/package-lock.json
          commit-message: "[NPM] Run npm update"
