name: Lint
on: push

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install
        run: |
          cd locateMe
          npm install

      - name: Lint
        run: |
          cd locateMe
          npm run lint
