name: Snyk
on:
  push:
    branches:
    - master

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version: '24'

    - name: Install and Build
      run: |
        cd locateMe
        npm install

    - name: Run Snyk to check for vulnerabilities
      uses: snyk/actions/node@v1
      with:
        args: --file=locateMe/package.json
        command: monitor
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
